* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fredoka, sans-serif;
}

@font-face {
    font-family: 'fredoka';
    src: url(fonts/Fredoka-Regular.woff),
        url(fonts/Fredoka-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'unna';
    src: url(fonts/Unna-Regular.woff),
        url(fonts/Unna-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

p,
span {
    font-family: unna, serif;
}

img {
    cursor: pointer;
}

img.icon {
    height: 24px;
}

.dashboard-title>img {
    height: 48px;
}

.greeting>img {
    height: 60px;
}

.mini-profile-pic {
    height: 36px;
    border-radius: 50%;
}

li {
    cursor: pointer;
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    background-color: #e3e8ef;
}

.sidebar {
    grid-row: span 2;
    background-color: hsl(34, 81%, 60%);
    display: grid;
    align-content: start;
    gap: 30px;
    padding: 20px;
    color: white;
}

.sidebar img {
    filter: invert(1) brightness(100%) sepia(1) saturate(100%) hue-rotate(0deg);
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation>ul {
    display: grid;
    gap: 10px;
}

.navigation li {
    display: flex;
    gap: 25px;
    font-weight: bold;

    font-size: 1.5em;
    margin-left: 10px;
}

.navigation span {
    font-family: fredoka, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(179, 175, 175);
}

.search {
    display: flex;
    gap: 10px;
}

.search>input {
    height: 2em;
    border: none;
    background-color: hsl(0, 0%, 85%);
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    margin-right: 30px;
}

.user-info {
    justify-self: end;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.greeting {
    display: grid;
    grid: 1fr 2fr / 1fr 9fr;
    justify-items: start;
    align-self: start;
}

.greeting>img {
    border-radius: 50%;
    grid-row: span 2;
    margin-right: 10px;
}

.greeting p {
    font-family: fredoka, sans-serif;
    font-weight: bold;
}

.actions ul {
    justify-self: end;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.actions button {
    background-color: hsl(34, 81%, 60%);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.actions button:hover {
    background-color: hsl(34, 81%, 50%);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: rows;
    gap: 20px;
    padding: 20px;
}

.projects {
    grid-row: span 2;
}

.section-title {
    margin-bottom: 15px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    min-height: 185px;
    justify-content: space-between;
    border-left: 8px hsl(218, 80%, 60%) solid;
    box-shadow: 2px 2px 5px rgb(179, 175, 175);
}

.project-card>div:last-child {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.announcements-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 2px 2px 5px rgb(179, 175, 175);
}

.announcement-tab {
    padding: 10px 5px;
}

.trending-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 2px 2px 5px rgb(179, 175, 175);
}

.trending-tab {
    display: flex;
}

.trending-tab .info {
    display: flex;
    flex-direction: column;
}

.info span:last-child {
    color: hsl(0, 0%, 30%);
}

.trending-tab img {
    grid-row: span 2;
    height: 48px;
    margin-right: 10px;
}